<div class="logo--center">
  <img src="/businessduck.jpg" style="width: 100px; height: 100px;"></img>
</div>
<h1 class="logo--center">QUAX</h1>

<table class="form">
  <tr class="form-row">
    <th class="form-head" ng-repeat="portfolio in portfolios track by $index" ng-bind="portfolio.title"></th>
    <th class="form-head">Cash Percentage</th>
    <th class="form-head">Total Investment</th>
    <th class="form-head">
      <button ng-click="percent = !percent" ng-show="percent" class="action-small">
        Dollar
      </button>
      <button ng-click="percent = !percent" ng-show="!percent" class="action-small">
        Percent
      </button>
    </th>
  </tr>
  <tr class="form-row">
    <td class="form-cell" ng-show="!percent" ng-repeat="portfolio in portfolios track by $index">
      <form href="#">
        <span class="dollar-input">
          $
          <input ng-model="portfolio_dollars[portfolio.key]">
          </input>
        </div>
      </form>
    </td>
    <td class="form-cell" ng-show="percent" ng-repeat="portfolio in portfolios track by $index">
      <form href="#">
        <span class="percent-input">
          <input ng-model="portfolio_percent[portfolio.key]">
          </input>
          %
        </div>
      </form>
    </td>
    <td class="form-cell">
      <form href="#">
        <span class="cash-input">
          <input ng-model="cash">
          </input>
          %
        </div>
      </form>
    </td>
    <td class="form-cell">
      <form href="#">
        <span class="dollar-input">
          $
          <input ng-model="dollars">
          </input>
        </div>
      </form>
    </td>
    <td class="form-cell">
      <button ng-click="listTable(got_table, current)" class="action-small">Update</button>
    </td>
  </tr>
</table>

<br>
<div class="dollar-error" ng-show="dollarError">
  That is not a valid dollar amount.
</div>
<div class="dollar-error" ng-show="percentError">
  That is not a valid percentage.
</div>

<h1 ng-bind="portfolio.title"></h1>
<table>
  <tr>
    <th>Symbol</th>
    <th>Quantity</th>
  </tr>
  <tr class="top_row" ng-repeat="symbol in table.long track by $index">
    <td class="top_cell" ng-bind="symbol.symbol"></td>
    <td class="top_cell" ng-bind="symbol.quantity"></td>
  </tr>
  </tr>
</table>

<table>
  <tr>
    <th>Symbol</th>
    <th>Quantity</th>
  </tr>
  <tr class="bottom_row" ng-repeat="symbol in table.short track by $index">
    <td class="bottom_cell" ng-bind="symbol.symbol"></td>
    <td class="bottom_cell" ng-bind="symbol.quantity"></td>
  </tr>
</table>
