<h1 class="logo--center">QUAX</h1>

<table>
  <tr>
    <th ng-repeat="label in labels"> <a href="#" ng-click="changeSort(label)" ng-bind="label"></a></th>
  </tr>
  <tr class="top_row" ng-repeat="symbol in topTable">
    <td class="top_cell" ng-repeat="entry in symbol track by $index" ng-bind="entry"></th>
  </tr>
</table>

<table>
  <tr>
    <th ng-repeat="label in labels"> <a href="#" ng-click="changeSort(label)" ng-bind="label"></a></th>
  </tr>
  <tr class="bottom_row" ng-repeat="symbol in bottomTable">
    <td class="bottom_cell" ng-repeat="entry in symbol track by $index" ng-bind="entry"></th>
  </tr>
</table>
