<div class="logo--center">
  <img src="/businessduck.jpg" style="width: 100px; height: 100px;"></img>
</div>
<h1 class="logo--center">QUAX</h1>

<!--<select name="selectDate" id="selectDate" ng-change="updateDate(changeDate)" ng-model="changeDate" ng-options="key for key in dates">
</select>-->

<div ng-repeat="portfolio in portfolios track by $index">
<h1 ng-bind="portfolio.title"></h1>
  <table>
    <tr>
      <th ng-repeat="label in portfolio.long.labels track by $index" ng-bind="label"></th>
    </tr>
    <tr class="top_row" ng-repeat="symbol in portfolio.long.cells track by $index">
      <td class="top_cell" ng-repeat="entry in symbol track by $index" ng-bind="entry"></th>
    </tr>
  </table>

  <table>
    <tr>
      <th ng-repeat="label in portfolio.short.labels track by $index" ng-bind="label"></th>
    </tr>
    <tr class="bottom_row" ng-repeat="symbol in portfolio.short.cells track by $index">
      <td class="bottom_cell" ng-repeat="entry in symbol track by $index" ng-bind="entry"></th>
    </tr>
  </table>
</div>
