.body {
  background-color: #FFFFFF;
  color: #1F1F1F;
}

.logo--center {
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
  font-size: 250%;
}

.root {
  font-family: 'Lato', sans-serif;
}

.content {
  margin: auto;
  text-align: center;
}

.title {
  font-family: 'Lato', sans-serif;
  margin-top: 1rem;
  font-size: 200%;
}

.subtitle {
  margin: auto;
  font-size: 100%;
  width: 100%;
  max-width: 30rem;
}

.action {
  margin: auto;
  margin-top: 3rem;
  padding: .5rem 1rem .5rem 1rem;
  border: none;
  display: block;
  color: #FFFFFF;
  background: #F45D30;
  font-size: 125%;
}

.action:hover {
  color: #F45D30;
  background: #FFFFFF;
  border: 2px #1F1F1F solid;
  border-radius: 0px;
}

.blue-action {
  margin: auto;
  margin-top: 3rem;
  padding: .5rem 1rem .5rem 1rem;
  border: none;
  display: block;
  color: #FFFFFF;
  background: #072C50;
  font-size: 125%;
}

.blue-action:hover {
  color: #072C50;
  background: #FFFFFF;
  border: 2px #1F1F1F solid;
  border-radius: 0px;
}

/* modal */
.modal-overlay {
}

.modal-container {
}

.modal-content {
}

.modal-heading {
}

.modal-info {
}

.modal-actions {
}

.modal-action--secondary {
}

.modal-action--primary {
}

/* table */
a {
  color: inherit;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  margin: auto;
  font-family: 'Lato', sans-serif;
}

th {
  padding: 10px 20px;
  text-align: center;
  border-bottom: 2px solid black;
}

td {
  padding: 15px 20px;
  text-align: center;
}

.row {
  color: #6699ff;
}

.row:hover {
  color: #003399;
}
