.body {
  background-color: #FFFFFF;
  color: #1F1F1F;
}

.logo--center {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: auto;
  font-size: 250%;
}

/* root */
.root {
  font-family: 'Open Sans', sans-serif;
}

.root-content {
  margin: auto;
  text-align: center;
}

.root-title {
  margin-top: 5rem;
  font-size: 175%;
}

.root-subtitle {
  margin: auto;
  font-size: 100%;
  width: 100%;
  max-width: 30rem;
}

.root-action {
  margin: auto;
  margin-top: 3rem;
  border: none;
  display: block;
  color: #FFFFFF;
  background: #1F1F1F;
  font-size: 125%;
}

.root-action:hover {
  color: #1F1F1F;
  background: #FFFFFF;
  border: 2px #1F1F1F solid;
  border-radius: 0px;
}

/* modal */
.modal-overlay {
}

.modal-container {
}

.modal-content {
}

.modal-heading {
}

.modal-info {
}

.modal-actions {
}

.modal-action--secondary {
}

.modal-action--primary {
}
